@font-face {
  font-family: 'Kiperman';
  font-weight: 500;
  font-style: italic;
  src: url('/static/fonts/Kiperman/Kiperman-BoldItalic-cc24b90289.eot?#iefix')
      format('embedded-opentype'),
    url('/static/fonts/Kiperman/Kiperman-BoldItalic-cae179df5e.woff2')
      format('woff2'),
    url('/static/fonts/Kiperman/Kiperman-BoldItalic-757a783b90.woff')
      format('woff');
  font-display: 'swap';
}
